#pic {
    width: fit-content;
    height: 500px;
}

#logo {
    position:absolute; left:0; top:510px;
    margin-left: auto;
}

.search {
    background: #F9F0DA;
    position:absolute; left:400px; top:510px;
    width: 200px;
    height: 50px;
}

.search form {
    background: #A3D0C3;
    width: 200px;
    height: 50px;
}

.search input, .search button{
    background: transparent;
    width: 200px;
    height: 50px;
}

.search button{
    top: 0px;
    right: 0px;
    height: 50px;
}

.search button:before{
    content: "\f002";
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    color:#F9F0DA;
}