#pic {
    width: fit-content;
    height: 500px;
}

#logo {
    position:absolute; left:0; top:510px;
    margin-left: auto;
}

.searchbar{
    height: 70px;
    width: 800px;
    position: absolute; left:500px;top:550px;
}

.bar{
    position: relative;
}

.search{
    width: 300px;
    height: 40px;
    border-radius: 18px;
    outline: none;
    border: 1px solid #ccc;
    padding-left: 20px;
}

.bar button{
    height: 35px;
    width: 35px;
    top: 6px;
    position: absolute;
    border: none;
    outline: none;
    cursor: pointer;
}
