#pic {
    width: fit-content;
    height: 500px;
}

#logo {
    position:absolute; left:0; top:510px;
    margin-left: auto;
}

.search {
    width: 300px;
    height: 40px;
    border-radius: 18px;
    outline: none;
    border: 1px solid #ccc;
    padding-left: 20px;
    position:absolute; left:500px; top:550px;
}

.bar{
    position: relative;
}

.searchbar{
    height: 70px;
    width: 800px;
    margin: 100px auto 0 auto;
}

.button1{
    height: 35px;
    width: 35px;
    border: none;
    cursor: pointer;
}